# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
1. Some of the popular languages that Data Scientists use are:
2. Some of the commonly used libraries used by Data Scientists include:
3. Data Science Tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy
4. MatplotLib

|Data Science Tools|
|---|
|Jupyter Notebooks|
|Rstudio|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [11]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author

Chiranjeevi Nalapalu